updates-indicator@zamszowy/jsconfig.json
updates-indicator@zamszowy/node_modules/**
updates-indicator@zamszowy/package-lock.json
updates-indicator@zamszowy/package.json
updates-indicator@zamszowy/schemas/gschemas.compiled
updates-indicator@zamszowy/types.d.ts
updates-indicator@zamszowy/updates
updates-indicator@zamszowy.shell-extension.zip
